/-i
/ac-comphist.dat
/session.*
/init.el
/init.org_archive
/ido.last
/extra/*
/.python-environments/
/auto-save-list
/.hl-save
/.last-package-update-day
/.litable-lists.el
/.litable-lists.elc
/.mc-lists.el
/.mc-lists.elc
/.org-id-locations
/bookmarks
/elpa
/emms/
/eshell/
/notes
/other-notes
/places
/private.el
/private.org
/recentf
/smex-items
/snippets/org-mode/
/tramp
